#!/bin/bash

PUBLIC_IP=$(curl http://169.254.169.254/latest/meta-data/public-ipv4)
TURN_USER={{ turn_user }}
TURN_PASSWORD="{{ turn_password }}"

systemctl stop kurento-media-server-6.0
systemctl stop coturn
sleep 5
cat /etc/turnserver.conf | grep -v external-ip >/tmp/turnserver.conf
echo "external-ip=${PUBLIC_IP}" >> /tmp/turnserver.conf
mv /tmp/turnserver.conf /etc/turnserver.conf
echo "turnURL=${TURN_USER}:${TURN_PASSWORD}@${PUBLIC_IP}:443" > /etc/kurento/modules/kurento/WebRtcEndpoint.conf.ini
cat >/etc/nginx/sites-enabled/kms-ov<<EOF
sleep 5
systemctl start coturn
systemctl start kurento-media-server-6.0

