{% if reverse_proxy_enabled == "false" %}
external-ip={{ domain_name }}
{% else %}
external-ip={{ aws_public_ip }}
{% endif %}

fingerprint
user={{ turn_user }}:{{ turn_password }}
lt-cred-mech
realm=kurento.org
log-file=/var/log/turnserver/turnserver.log
simple-log

